*~
/.classpath
/.gradle
/.project
/.settings
/build
/pom.xml.releaseBackup
/release.properties
/target
\#**#
/bin/
/.checkstyle
/build/
/target/
\#*\#
/src/main/checkstyle/checkstyle.xml
/src/test/checkstyle/checkstyle.xml
